<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Challenge1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>LayoutAndGeometry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B97638E625F1CA230031FE8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B976398025F1CB8D0031FE8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9E9561625F170F000A335FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9E9562725F170F100A335FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9E9563225F170F100A335FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
